<!DOCTYPE html>
<html>
  <head>  
  <title>
    Careers at Replit
  </title>   
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <style>
      #banner {
        height: 360px;
        width: 100%;
      }
    </style>
  </head>
  <body>
  <div class="container">
   <h1 class="text-center" mt-2 mb-4 > {{company_name}}You'll learn a lot here! </h1>
     <img class="img-fluid" id="banner" src="https://b0caa9bb-b0d9-498f-abee-c76271572579-00-2ur2vj9xoacds.kirk.replit.dev/static/bbyrk.jpg" width="120" height="90" alt="careers at replit" />   
    <h2 class="text-center" mt-2 mb-4 > About Careers </h2>
    <P class="lead"> 
    I followed my dreams and now i am getting excellent rewards for it.
      I often tell myself to be excellent at everything i do.
      it creates a popularity for me and i am getting a lot of opportunities.
      I am also grateful for my parents and my friends who have always supported me.
    </P>
    <h2 class="text-center"  mt-2 mb-4 > My Best traits and techniques </h2>
    <div> {% for project in projects %} 
       {% include 'project.html'%}
    {% endfor %}
    Angular WorkFlow
      </div>
    <div class="text-center">  
    <button type="button" class="btn btn-primary btn-lg" > Repository </button>
      <p class="mt-4"> Copy Right 2025, Career at replit. All rights reserved. </p>
    </div>
    </div>
  </body>
</html>